@tailwind base;
@tailwind components;
@tailwind utilities;


input{
    outline: none;
    color: #000000 ;
    color: #f8fafc;
    color: #eff1f0; 
    color: #1e293b;
    color: #486491
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield; /* Para Firefox */
  appearance: textfield; /* Para otros navegadores */
}