

.welcome{
    background-image: url('../../public/assests/pol/pol-3.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  
    
    
    
  }
  

.welcome-text{

  width: 500px;
  justify-content: flex-end;
 
  background-color: rgba(0, 0, 0, 0.692);
  backdrop-filter: blur(4px);
  color: rgb(255, 255, 255);


}



.move{
  transform: translateY(-300px);
}



